.update-comment> form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comment-edit-textarea {
  position: relative;
  top: 14px;
  height: 49px;
  resize: none;
}

.edit-comment-errors {
  display: relative;
  height: 10px;
  /* background-color: red; */
}

.edit-comment-form {
  display: flex;
  /* flex-direction: column; */
}
.errors {
  display: relative;
  height: 10px;
  /* background-color: green; */
}
