.update-comment> form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comment-edit-textarea {
  position: relative;
  top: 14px;
  height: 49px;
  resize: none;
}

div.update-comment > form.edit-comment-form >  div.edit-comment-errors {
  position: absolute;
  /* height: 10px; */
  /* background-color: red; */
}

.edit-comment-form {
  display: flex;
  /* flex-direction: column; */
}
div.update-comment > form.edit-comment-form >  div.edit-comment-errors > .errors {
  position: relative;
  padding: 10px 10px 16px 10px;
  border:.9px solid rgb(185, 182, 182);
  background-color: white;
  left: 300px;
  height: 10px;
  top: -62px;
  /* background-color: green; */
}
