/* TODO Add site wide styles */

/* TODO Add site wide styles */
* {
  font-family: 'Neue Helvetica', sans-serif;
  max-width: 100%;
}

body {
  margin: 0%;
  background-color: #f2f2f2;
}

button {
  cursor: pointer;
}

button:focus {outline:0;}
.navbar {
  background-color: white;
  display: flex;
  color: black;
  width: 100%;
  top: 0;
  min-width: 100%;
  padding: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom:.9px solid   #cccccc;
  padding-bottom:10px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}

.nav-ul {
  display: flex;

}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

#navbar-logo {
  display: flex;
  align-items: flex-start;
  /* max-height: ; */
}

.modal {
  font-size: 12px;
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .7);
  background-color: white;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  padding: 10px 5px;
  border:.9px solid black;
  padding: 15%;
}
.modal > .actions {
  /* width: 100%; */
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
