/* TODO Add site wide styles */

/* TODO Add site wide styles */
* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif, sans-serif;
  max-width: 100%;
}

body {
  margin: 0%;
  background-color: #f2f2f2;
  /* position:fixed; */
  /* overflow:hidden; */
}

.errors {
  padding:15px;
  margin: 5px;
  /* color: red; */
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 13px;
}

button {
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
  outline: none;
  background-color:#3196F6;

}

button:hover {
  opacity: 0.7;
}

button:focus {outline:0;}

.navbar {
  background-color: white;
  /* display: flex; */
  color: black;
  width: 100%;
  top: 0;
  min-width: 100%;
  padding: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom:.9px solid   #cccccc;
  padding-bottom:10px;
  height: 32px
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}

.nav-ul {
  display: flex;

}

#nav-home {
  display: flex;
  align-items: flex-end;
}

.navbar-logo {
  display: flex;
  height: 35px;
  left: calc(-25%);
  position: relative;
}

.nav-items-right {
  display:flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  left:calc(3%);
  /* width: 400px; */
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

#navbar-logo-id {
  display: flex;
  align-items: flex-start;
  /* max-height: ; */

}

.modal {
  font-size: 12px;
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .7);
  background-color: white;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  /* display: flex; */

  padding: 10px 5px;
  border:.9px solid black;
  padding: 15%;

}

.modal > .content > form {
  /* width:100px; */
  padding: 10px;
}

.modal > .content > form > input {

}
.modal > .content > form > label {
  margin: 10px;
}

.modal > .actions {
  /* width: 100%; */
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.nav-username {
  margin-top: 12px;
}

/* .detail-container-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

} */

.signup-form {
  background-color: red;
}

.signup-modal-form > input {
  margin:10px;
  left: 100px;
  display: flex;
  flex-direction: column;
  /* position:relative; */
}

.signup-modal-form-button {
  position:relative;
  left: 61px;
}

.login-errors {
  color: red;
}
.signup-errors {
  color: red;
}
