
.post-detail-image {
  max-width: 300px;
  max-height: 175px;
  margin-top: 15px;
}

.detail-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw; */
}
.detail-nested-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* background-color: red; */

}

/* left side of detail popup */
.post-detail-div {
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:.9px solid   #cccccc;
  margin: 15px;
  /* height: 630px; */
  height: 630px;
  width: 560px;
  /* width: 100%; */
  background-color: white;
}

/* right side of detail popup */
.post-detail-details {
  width: 560px;
}

.post-detail-div > div:nth-child(3) {
  padding: 15px;
}
.post-detail-comments {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* flex-direction: column; */
  border:.9px solid   #cccccc;
  margin: 15px;
  /* height: 400px; */
  width: 450px;
  background-color: white;
}

.post-comment {
  margin-bottom: 15px;
  padding: 15px;
}

.detail-delete-button {
  margin-bottom: 15px;
  background-color: red;
  color: white;
  position: relative;
  top: -39px;
  left: 18px;

}

.add-post-input {
  background-color: #cccccc;
  border-radius: 5px;
}
