
.post-detail-image {
  max-width: 300px;
  max-height: 175px;
  margin-top: 15px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.detail-nested-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* background-color: red; */

}
.post-detail-div {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:.9px solid   #cccccc;
  margin: 15px;
  /* height: 400px; */
  width: 450px;
  background-color: white;
}

.post-detail-div > div:nth-child(3) {
  padding: 15px;
}
.post-detail-comments {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* flex-direction: column; */
  border:.9px solid   #cccccc;
  margin: 15px;
  /* height: 400px; */
  width: 450px;
  background-color: white;
}

.post-comment {
  margin-bottom: 15px;
  padding: 15px;
}

.detail-delete-button {
  margin-bottom: 15px;
}

.add-post-input {
  background-color: #cccccc;
  border-radius: 5px;
}
