.delete-comment > form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.delete-comment-button {
  position: relative;
  top: -57px;
  left: 31px;
  background-color: red;
  color: white;
  border-radius: 3px;
}
